@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

.logo {
    height: 65px;
    width: 65px;
}

.navbar-brand {
    font-family: 'Young Serif', serif;
    font-size: 34px;
    color: white;
}

.navbar {
    background-color: #122940;
}