<div class="col-12 content-height">
    <div class="d-flex justify-content-center align-items-center content-height">
        <ng-container *ngFor="let type of classifications">
            <div class="col-3 p-2">
                <div class="card">
                    <div class="card-body text-center fw-bold fs-3" style="background-color: lightyellow;">
                        <a [routerLink]="['list/'+type]">
                            {{type}}
                        </a>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>